* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: black;
    align-items: center;
    padding-left: 500px;
    padding-right: 500px;
}

.cabecalho a {
    color: white;
    text-decoration: none;
}

main {
    background-color: bisque;
    height: 180vh;
}

#titulo {
    padding-top: 40px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.imagens {
    padding: 0;
}

.conteudo {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

.subtitulo {
    text-align: center;
    padding-bottom: 50px;
}

.conteudo img {
    text-align: center;
    padding-right: 500px;
    padding-left: 500px;
    height: 100px;
}

.conteudo2 {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

.conteudo3 {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

.rodape {
    text-align: center;
    height: 40px;
    background-color: black;
    color: white;
    padding-top: 20px;
}